<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Api Page</title>
</head>
<body>
    {% include 'menubar.html' %}
    <div class="ui cards">
        <div class="card">
            <div class="content">
                <div class="header">
                    <div class="description">
                        welcome to the api site.</div>
                    </div>
                </div>
            </div>
        </div>
    <h1>Api Page</h1>
    <p>Here is the api page</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    {% block content %}
    {% endblock %}
</body>
</html>