<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
    <meta charset="UTF-8">
    <title>Api Page</title>
</head>
<body>
    <h1>Api Page</h1>
    <p>Here is the api page</p>
    {% block content %}
    {% endblock %}
</body>
</html>